.container{
  padding-top:20px;
  padding-left:30%;
  padding-right:30%;
}
.input-num{
  width:99%;
  height:60px;
  text-align:right;
  background-color:#C1C1C1;
  border-color:#C1C1C1;
  font-size:48px;
}
table{
  width:100%;
}
button{
  background-color:#E8E8E8;
  border-color:#E8E8E8;
  width:100%;
  height:100px;
  font-size:48px;
}
button:hover{
  opacity:0.7;
}
.font-less1{
  font-size:34px;
}
.font-less1{
  font-size:38px;
}
.color-orange{
  background-color:#FF9326;
  color:#FFF;
}
table{
  background-color:#C1C1C1;
}
tr td{
  border:0px;
}
