body{
  background-color: #DEDEDE;
}
#e-uno, #e-dos, #e-tres, #e-cuatro{
  font-size:18px;
}
h2, h4{
  text-align: center;
  color:#10BAFA;
}
button{
  background-color:#10BAFA;
  border-color:#10BAFA;
  border-radius:3px;
  width:80px;
  font-size:14px;
  color:#FFF;
}
button:hover{
  opacity: 0.80;
  color:#000;
}
ul li:hover{
  color:#10BAFA;
  cursor:pointer;
}
.class-parr-2{
  color:red;
}
.class-parr-3{
  color:blue;
}
.div-4{
  color:white;
  background-color:#000;
  padding:10px 15px 10px 15px;
  border-radius:15px;
}
.artic{
  color:red;
  font-size:18px;
}
.with-currency{
  border:solid 1px #000;
  border-radius:5px;
}
table{
  width:100%;
}
table thead{
  font-size:18px;
}
tr, th, td{
  border:solid 1px #000;
}
tbody tr:hover{
  background-color:#E7E7E7;
}
.texto-centrado, .price{
  text-align: center;
}
.calse{

}
.tabla{

}
.product{

}
