.with-currency{
  border:solid 1px #000;
  border-radius:5px;
}
table{
  width:100%;
}
table thead{
  font-size:18px;
}
tr, th, td{
  border:solid 1px #000;
}
th{
  background-color:#64E9FF;
}
td{
  text-align:center;
}
tbody tr:hover{
  background-color:#E7E7E7;
}
.text-derecha{
  text-align:right;
}
.numvehicle{
  background-color:yellow;
  text-align:center;
}
tfoot tr{
  background-color:#7FF095 !important;
  text-align:right;
}
