/* div{
  background:blue;
  color:white;
  margin:1px;
  display:inline;
} */
.block{
  background:blue;
  color:white;
  margin:1px;
  display:block;
}
#enlinea{
  background:red;
  color:white;
  margin:1px;
  display:inline;
}
.lista{
  background:green;
  color:white;
  margin:1px;
  display:list-item;
}
