body{
  background:red;
}
header{
  height: 70px;
  background:navy;
}
main{
  height: 150px;
  width:90%;
  margin:0 auto;
  background:orange;
}
footer{
  height: 80px;
  background:lightblue;
}
@media only screen and(max-width:800px){
  body{
    background:lime;
  }
  header::before{
    content:'ANcho maximo de 800px';
    font-size:50px;
    color:#FFF;
  }
  footer{
    background:#17A589;
  }
}

@media only screen and(max-width:600px){
  body{
    background:yellow;
  }
  header::before{
    content:'Ancho maximo 600px';
    font-size: 50px;
    color:#FFF;
  }
}

@media only screen and (min-width:1000px){
  body{
    background:purple;
  }
  header::before{
    content:'Ancho minimo de 1000px';
    font-size:50px;
    color:#FFF;
  }
  footer{
    background:#FF5733;
  }
}

@media(orientation:landscape){
  body{
    background-image:url(https://www.ids.com.mx/wp-content/uploads/2020/12/mapa_ids_mobile-1024x1021.png)
  }
}
@media(orientation:portrait){
  body{
    background-image:url(https://d31i9b8skgubvn.cloudfront.net/folder/logos/391_banner_5r6Vxh4TFdHqexoE.png);
  }
}
